<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>简单实现vue数据双向绑定</title>
        <style>
            .layout{
                max-width:350px;
                margin:0 auto;
            }
            .title{
                text-align: center;
            }
    
        </style>
    </head>
    <body>
        <div id="app">
            <div class="layout">
                    <h2 class="title"><span>{{title}}</span></h2>
                    <p>姓名：<input v-model="name"></p>
                    <p >年龄：<input v-model="age"></p>
                    <p>v-model: <span>{{name}}</span></p>
                    <p>修改年龄: <button v-on:click="clickMe">click me!</button></p>
                    <p>遍历dom：<span>{{name}}</span></p>
            </div>
           
        </div>
        <script src="./js/dep.js"></script>
        <script src="./js/observe.js"></script>
        <script src="./js/watcher.js"></script>
        <script src="./js/compile.js"></script>
        <script src="./js/index.js"></script>

        <script type="text/javascript">
            new Vue({
                el:'#app',
                data:{
                    age: 0,
                    name: '范'
                },
                methods: {
                    clickMe: function () {
                        this.age +=1 ;
                    }
                },
                mounted: function () {
                    window.setTimeout(() => {
                        this.age = 24;
                    }, 1000);
                }
            });
     
        </script>
    
    </body>
</html>